taylor-relaxng2/coffeeshopshema.rnc

start = transcript
transcript = element transcript { metadata, stamp?, poem, signature?, info? }
metadata =
    element metadata {
        mixed { (title | author | date)* }
    }
title = element title { name, text }
name = attribute name { "Ballad of Booker T." }
author = element author { text }
date = element date { when, text }
when = attribute when { text }
#I wanted to use the daye xsd but I dont use the same format on the 
stamp = element stamp { type, color }
color = attribute color { text }
poem = element poem { (line | rep)+ }
line =
    element line {
        mixed { (underlined | placeName | date | person)* }
    }
underlined = element underlined { text }
placeName = element placeName { type?, text }
type = attribute type { text }
person = element person { text }
rep = element rep { num, line+ }
num = attribute num { xsd:integer }
signature = element signature { signed, text }
signed = attribute signed { "yes" | "no" }
info =
    element info {
        mixed { (edition | placeName | date | citation)* }
    }
edition = element edition { text }
citation =
    element citation {
        mixed { (author | title | date | placeName)* }
    }
